<div class="w100">
  <div class="links-top-bg flt">Your Peddle</div>
  <div class="links-mid-bg flt">
    <ul class="menu flt">
      <li>
        <p><a class="header_links"  href="javascript:;" url="/messages" style="text-decoration:none;">Messages</a></p>
        <label>0</label>
      </li>
      <li>
        <p><a class="header_links"  href="javascript:;" url = "/carts" style="text-decoration:none;">Window shopping</a></p>
        <label><%= @cart.total_items%></label>
      </li>
      <li>
        <p><a class="header_links"  href="javascript:;" url="/purchase_history" style="text-decoration:none;">Purchase history</a></p>
      </li>
      <li>
        <p><a class="header_links"  href="javascript:;" url="users/edit" style="text-decoration:none;">Account settings</a></p>
      </li>
      <li class="bdr-bot-none">
        <p>
          <% if current_user %>
              <% root_url(:subdomain => false) %>
              <%= link_to "Log out", "/sign_out", :style => "text-decoration:none;" %>
          <% else %>
              <%= link_to "Log in", "/sign_in", :style => "text-decoration:none;" %>
          <% end %>
        </p>
      </li>
    </ul>

  </div>
  <div class="links-bot-bg flt"></div>
</div>