<% unless @store.nil? %>
    <div class="w100 mtop60">
      <div class="logo prod-img ">
        <% unless @store.image.blank? %>
            <%= link_to image_tag(@store.image.snap, :width => '100px', :height => '100px'), "#", :url => "store" %>
        <% else %>
            <%= link_to image_tag('/assets/no_img.jpg', :width => '100px', :height => '100px'), "#", :url => "store" %>
        <% end %>
      </div>
      <div class="logo-text-holder">
        <p><%= @store.description %></p>
        <%= render "/products/cart_div" %>
      </div>

    </div>
<% end %>