  <div class="leftContainer">
    <div class="leftHeading">
      <div class="inrHeading">Users</div>
      <div class="inrHeading"><%=link_to "Manage Users", '/admin/users'%></div>
      <%#*<div class="inrHeadingGray act"><a href="index.html">Manage Members</a></div>%>
    </div>
    <div class="leftHeading">
      <div class="inrHeading">Store</div>
      <div class="inrHeading"><%=link_to "Manage Store", '/admin/stores'%></div>
    </div>

    <div class="leftHeading">
      <div class="inrHeading">Blogs</div>
      <div class="inrHeading"><%=link_to "Manage Blog Posts", '/blog_posts'%></div>
    </div>
    
  </div>
