<div class="container">


  <div class="partitionleft">

    <div class="picnbasicinfoholder">
      <img src="../assets/pro-pic.png"/>
      <div class="username">
			Robert Thomas
      </div>

      <div class="subtitle">
			Peddler / Buyer
      </div>

    </div>

    <div class="leftcatholder">
      <div class="catagory">
				Suggested Stores
      </div>
      <%unless @stores.blank?%>
        <% @stores.each do |store| %>
          <div class="sugeststoriesentry">
            <img class="profilepic" src="../assets/pic.png" />
            <img class="ltcatclose" src="../assets/x.png" />
            <div class="storyheading">
              <%=store.name%>
            </div>
            <div class="storysubheading">
              Home / Outdoor / Sports
            </div>
            <div class="tag">
              <a href="#">Tag to this store</a>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>

    <div class="leftcatholder">
      <div class="catagory">
				Suggested Stores
      </div>
      <%unless @stores.blank?%>
        <% @stores.each do |store| %>
          <div class="leftcolentry">
            <%#*<a href="#" >The Best Store Out</a>%>
            <%=link_to store.name , :controller => "stores", :action => "cart", :id => store.id%>
          </div>
        <%end%>
      <%end%>
    </div>

    <div class="invitefriends">
      <div class="heading">
				Send invitation
      </div>
      <div class="buttonholder">
        <img src="../assets/invitefriends.png" />
      </div>

    </div>

  </div>

  <div class="partitionright">

    <h1>
			Sales Floor
    </h1>

    <textarea class="posttext"></textarea>
    <div class="addimage">
      <img src="../assets/addimage.png">
      <a href"#">add an image</a>
    </div>

    <div class="share">
      <div class="square">
      </div>
      <img src="../assets/fb.png" />
      <div class="square">
      </div>
      <img src="../assets/tw.png" />
			Share
    </div>

    <div class="mainentry">
      <div class="ltlogos">
        <img src="../assets/mainentrylogo.png" />
        <img src="../assets/tagcopy.png" />
      </div>
      <div class="contentholder">
        <h2>
					The Company
        </h2>
        <h3>
					24 minutes ago
        </h3>
        <a class="viewstorelink" href="#">View store</a>
        <div class="miantext">
					Get top exercise and fitness equipment at Walmart.com. Whether you?re shopping
          abdominal toners, exercise machines, or mixed martial arts products, we've got it all
          covered, from ab toners to yoga gear. Our exercise and fitness equipment can help
          you get in shape with everything from pedometers and GPS units to punching bags
          and home gyms, at everyday low prices.
          <br />
          <img src="../assets/detailimg1.png">
          <img src="../assets/detailimg2.png">
          <img src="../assets/detailimg3.png">

        </div>
      </div>
    </div>
    <div class="mainentry">
      <div class="ltlogos">
        <img src="../assets/mainentrylogo.png" />
        <img src="../assets/tagcopy.png" />
      </div>
      <div class="contentholder">
        <h2>
					The Company
        </h2>
        <h3>
					24 minutes ago
        </h3>
        <a class="viewstorelink" href="#">View store</a>
        <div class="miantext">
					Get top exercise and fitness equipment at Walmart.com. Whether you?re shopping
          abdominal toners, exercise machines, or mixed martial arts products, we've got it all
          covered, from ab toners to yoga gear. Our exercise and fitness equipment can help
          you get in shape with everything from pedometers and GPS units to punching bags
          and home gyms, at everyday low prices.
          <br />
          <img src="../assets/detailimg1.png">
          <img src="../assets/detailimg2.png">
          <img src="../assets/detailimg3.png">

        </div>
      </div>
    </div>



  </div>



</div>
</div>