<h1>Listing sys_admins</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_admins.each do |sys_admin| %>
  <tr>
    <td><%= sys_admin.name %></td>
    <td><%= link_to 'Show', sys_admin %></td>
    <%#*<td><%= link_to 'Edit', edit_sys_admin_path(sys_admin) %></td>%>
    <%#*<td><%= link_to 'Destroy', sys_admin, confirm: 'Are you sure?', method: :delete %></td>%>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Sys admin', new_sys_admin_path %>
