// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    border: medium none;
    margin: 0;
    padding: 0;
}
body {
    background:url(../assets/body-bg.png) repeat ;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, p, img {
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    font-size: 20px;
}
h2 {
    color: #666666;
    font-size: 14px;
}
img {
    border: medium none;
}
a {
    color: #000000;
}
.wrapper {
    margin: 0 auto;
    width: 960px;
}
.w100{
	float:left;
	width:100%;
}
.logo{
	width:218px;
	float:left;
}
.logo img{
	float:left;
}
.flt{
	float:left;
}
.frt{
	float:right;
}
.logo-text-holder{
	float:right;
	width:740px;
	font-size:24px;
	font-family:"myriad Pro";
	color:#949494;
}
.mtop80{
	margin-top:80px;
}
.mtop60{
	margin-top:60px;
}
.mtop20{
	margin-top:20px;
}
.mtop40{
	margin-top:40px;
}
.mtop50{
	margin-top:50px;
}
.mtop10{
	margin-top:10px;
}
.left-warrpper{
	width:218px;
	float:left;
}
.right-warrpper{
	width:740px;
	float:right;
}
.nav-top-holder{
	background:url(../assets/nav-top-bg.png) no-repeat;
	width:182px;
	height:65px;
	float:left;
	font-size:20px;
	color:#eeeeee;
	font-family:"myriad Pro";
	text-align:center;
	line-height:65px;
}
.nav-mid-holder{
	background:url(../assets/nav-mid-bg.png) repeat-y;
	width:182px;
	height:auto;
	float:left;
}
.nav-bot-holder{
	background:url(../assets/nav-bot-bg.png) no-repeat;
	width:182px;
	height:6px;
	float:left;
}
.left-nav{
	float:left;
	width:100%;
	list-style:none;
}
.left-nav li{
	border-bottom: 1px solid #DCDCDC;
    color: #555555;
    float: left;
    font-family: "myriad Pro";
    font-size: 16px;
    padding: 14px;
    width: 85%;
}
.left-nav li a{
	color:#555555;
	text-decoration:none;
}
.active{
	background: url("../assets/active-bg.png") no-repeat scroll 0 0 transparent;
    border: 0 none !important;
    color: #FFFFFF !important;
    height: 40px;
    line-height: 34px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px;
    padding-bottom: 0 !important;
    padding-left: 10px;
    padding-right: 0 !important;
    padding-top: 0 !important;
    width: 190px !important;
}
.active a{
	color:#FFF!important;
}
.bdr-bot-none{
	border-bottom:none!important;
}
.right-warrpper h1{
	font-size:18px;
	font-family:"myriad Pro";
	color:#555555;
	float:left;
	width:100%;
}
.right-warrpper p{
	font-size:14px;
	color:#949494;
	float:left;
	width:100%;
}
.gellary-holder{
	float:left;
	width:322px;
}
.gellary-details{
	float:right;
	width:355px;
}
.gellary-details h1{
	float:left;
	width:100%;
	font-size:28px;
	font-family:"myriad Pro";
	color:#555555;
	font-weight:normal;
}
.gellary-details h2{
	float:left;
	width:100%;
	font-size:18px;
	font-family:"myriad Pro";
	color:#555555;
	font-weight:normal;
}
.gellary-details p{
	float:left;
	width:100%;
	margin-top:10px;
	font-size:14px;
	color:#949494;
	font-weight:normal;
}
.price-holder{
	float:left;
	width:100%;
	color:#0078c9;
	font-size:38px;
	font-family:"myriad Pro";
	margin-top:20px;
}
.sml{
	font-size:18px;
	color:#555555;
}
.add-to-cart{
	float:left;
	width:100%;
}
.add-to-cart img{
	float:left;
}
.facebook-like img{
	float:left;
	margin-right:5px;
}
.facebook-like label{
	float:left;
	font-size:11px;
	color:#747475;
	line-height:22px;
}
.details{
	float:left;
	width:100%;
	list-style:none;
}
.details li{
	background:url("../assets/disc.png") no-repeat scroll left 6px transparent;
	float:left;
	width:90%;
	padding-left:3%;
	font-size:14px;
	color:#949494;
	margin-top:10px;
}
.details li a{
	text-decoration:none;
	color:#949494;
}
.peddle-top-mid-bar, .peddle-top-right-bar, .peddle-top-left-bar{
	background:url(../assets/peddle-tio-bar-left.png) no-repeat;
	width:11px;
	height:51px;
}
.peddle-top-mid-bar{
	background:url(../assets/peddle-tio-bar-mid.png) repeat-x;
	width: 938px !important;
}
.peddle-top-right-bar{
	background:url(../assets/peddle-tio-bar-right.png) no-repeat;
}
.lego-peddle-small{
	width:200px;
}
.lego-peddle-small img{
	float: left;
    margin-left: 10px;
    margin-top: 14px;
}
.profile-pic{
	width:382px;
}
.profile-pic img{
	border: 3px solid #D3D5D5;
    float: left;
    height: 29px;
    margin-right: 5px;
    margin-top: 4px;
    width: 29px;
}
.profile-pic label{
	background: url("../assets/bdr-link.png") repeat-y scroll right top transparent;
    color: #EEEEEE;
    float: left;
    font-family: "myriad Pro";
    font-size: 16px;
    font-weight: bold;
    line-height: 43px;
    margin-right: 10px;
    padding-right: 10px;
}
.profile-pic input[type="text"]{
	background: url("../assets/search-bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #D4D5D5;
    float: left;
    height: 21px;
    margin-top: 10px;
    width: 200px;
}
.profile-pic input[type="submit"]{
	background: url("../assets/search-btn.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 23px;
    margin-top: 10px;
    width: 26px;
}
.top-links{
	width:auto;
	list-style:none;
}
.top-links li{
	float:left;
	width:auto;
	font-size:14px;
	font-family:"myriad Pro";
	background: url("../assets/bdr-link.png") repeat-y scroll right top transparent;
}
.top-links li a{
	color:#999999;
	float:left;
	line-height: 43px;
	text-decoration:none;
	padding:0 18px;
}
.bg-r-none{
	background:none!important;
}
.active-link a{
	background: url("../assets/active-link.png") repeat-x scroll 0 0 transparent !important;
}
.frame{
	border: medium none !important;
    height: 88px !important;
    margin-left: 0 !important;
    margin-top: -80px;
    position: relative !important;
    width: 88px !important;
    z-index: 1 !important;
}
.small-logo{
	float: left;
    margin-top: 7px;
    width: 105px;
}
.small-logo img{
	border: 1px solid #D9D9D9;
    float: left;
    height: 70px;
    margin-left: 8px;
    position: relative;
    width: 70px;
    z-index: 2;
}
.logo-text{
	width:704px;
	font-size:24px;
	font-family:"myriad Pro";
	color:#949494;
}
.left-content{
	width:685px;
}
.right-content{
	width:250px;
}
.data-holder-left{
	width:200px;
}
.data-holder-left h1{
	float:left;
	width:100%;
	font-family:"myriad Pro";
	font-size:20px;
	color:#555555;
}
.data-holder-left p{
	float:left;
	width:100%;
	font-family:"myriad Pro";
	font-size:14px;
	color:#949494;
}
.data-holder-right{
	width:480px;
}
.data-holder-right textarea{
	background:url(../assets/shadow-bottom.png) no-repeat;
	width:476px;
	height:77px;
}
.btn-holder img{
	float:left;
}
.btn-holder input[type="submit"]{
	background: url("../assets/peddle-btn.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 51px;
    width: 99px;
}
.bdr-bot{
	border-bottom:1px dotted #aaaaaa;
	padding-bottom:20px;
}
.content-top-bg{
	background:url(../assets/content-top-bg.png) no-repeat;
	width:685px;
	height:56px;
}
.content-mid-bg{
	background: url("../assets/content-mid-bg.png") repeat-y scroll 0 0 transparent;
    height: auto;
    padding-bottom: 20px;
    width: 685px;
}
.content-bot-bg{
	background:url(../assets/content-bot-bg.png) no-repeat;
	width:685px;
	height:69px;
}
.heading-top{
	margin-left: 20px;
    width: auto;
}
.heading-top p, .heading-top h1{
	color: #F6F6F6;
    float: left;
    font-family: "myriad Pro";
    font-size: 20px;
    line-height: 56px;
    margin-right: 5px;
    width: auto;
}
.heading-top p{
	font-size:14px;
	color:#f6f6f6;
}
.back-btn-holder{
	margin-right: 8px;
    margin-top: 20px;
    width: auto;
}
.back-btn-holder img{
	float:right;
	margin-right:10px;
}
.cont{
	margin-left: 6px;
    width: 98.5%;
}
.gellery-left{
	width:240px;
}
.gellery-right{
	width:420px;
}
.gellary-frame{
	border: medium none !important;
    height: 178px !important;
    margin-left: -1px !important;
    margin-top: -169px;
    position: relative !important;
    width: 228px !important;
    z-index: 1 !important;
}
.gellary-logo{
	float: left;
    margin-left: 20px;
    margin-top: 33px;
}
.gellary-logo img{
	border: 1px solid #D9D9D9;
    float: left;
    height: 157px;
    margin-left: 8px;
    position: relative;
    width: 208px;
    z-index: 2;
}
.moreinfo{
	border-left:1px solid #c7c7c8;
	padding-left:10px;
	margin-left:20px;
	margin-top:20px;
}
.moreinfo a{
	float:left;
	width:100%;
	font-size:16px;
	color:#555555;
	font-family:"myriad Pro";
	text-decoration:none;
}
.moreinfo img{
	float:left;
	margin-right:10px;
	margin-top:5px;
}
.gellery-right p, .gellery-right h1{
	color: #555;
    float: left;
    font-family: "myriad Pro";
    font-size: 20px;
    width: 100%;
}
.gellery-right p{
    font-size: 16px;
    line-height: 33px;
}
.g-img label{
	color: #555;
    float: left;
    font-family: "myriad Pro";
    font-size: 18px;
    width: auto;
	line-height:62px;
	margin-right:10px;
}
.g-img img{
	float:left;
	margin-right:5px;
}
.content-bot-bg img{
	float: right;
    margin-right: 10px;
    margin-top: 19px;
}
.content-bot-bg label{
	 color: #5D5D5D;
    float: right;
    font-size: 16px;
    line-height: 67px;
    margin-right: 10px;
    width: auto;
}
.links-top-bg{
	background:url(../assets/links-top-bg.png) no-repeat;
	width:250px;
	height:69px;
	font-size:20px;
	color:#eeeeee;
	font-family:"myriad Pro";
	text-align:center;
	line-height:65px;
}
.links-mid-bg{
	background:url(../assets/links-mid-bg.png) repeat-y;
	width:250px;
	height:auto;
}
.links-bot-bg{
	background:url(../assets/links-bot-bg.png) no-repeat;
	width:250px;
	height:11px;
}
.menu{
	width:100%;
	list-style:none;
}
.menu li{
	border-bottom: 1px solid #DDDDDD;
    float: left;
    margin-left: 5px;
    padding: 15px 14px;
    width: 86%;
}
.menu li p{
	float:left;
	margin-right:10px;
	font-family:16px;
	font-family:"myriad Pro";
	color:#555;
}
.menu li label{
	float:left;
	background:url(../assets/blue-box.png) no-repeat;
	width:26px;
	height:24px;
	font-size:16px;
	color:#eeeeee;
	text-align:center;
	line-height:24px;
}
.online{
	border-bottom: 1px solid #E6E7E7;
    color: #949494;
    font-family: "myriad Pro";
    margin-left: 5px;
    padding: 7px 10px;
    width: 90%;
}
.online-content{
	width:100%;
	list-style:none;
}
.online-content li{
	border-bottom: 1px solid #DDDDDD;
    float: left;
    margin-left: 5px;
    padding: 15px 14px;
    width: 86%;
}
.online-content li a{
	 background: url("../assets/online.png") no-repeat scroll left center transparent;
    padding-left: 18px;
    text-decoration: none;
}
.blue-left{
	background:url(../assets/blue-left.png) no-repeat;
	width:10px;
	height:243px;
}
.blue-mid{
	background:url(../assets/blue-mid.png) repeat-x;
	width:940px;
	height:243px;
}
.blue-right{
	background:url(../assets/blue-right.png) no-repeat;
	width:10px;
	height:243px;
}
.thumb-img{
	background:url(../assets/thumb-img.png) no-repeat;
	width:218px;
	text-align:center;
	height:170px;
	margin-right:10px;
}
.thumb-img img{
	float:none;
	margin-top:54px;
}
.thumb-img p{
	border-top: 1px solid #E6E7E7;
    float: left;
    margin-top: 15px;
    padding-top: 10px;
    width: 100%;
}
.ml18{
	margin-left:18px!important;
}
.footer{
	background:url(../assets/footer-bg.png) repeat-x;
	height:361px;
}
.foot-links{
	list-style: none outside none;
    width: 80%;
}
.linksholder-new, .linksholder{
	background: url("../assets/footer.png") repeat-y scroll right top transparent;
    margin-top: 4px;
    padding: 13px 0;
    width: 188px;
	min-height:347px;
}
.linksholder-new h1, .foot-links h1{
	border-bottom: 1px solid #616767;
    color: #999999;
    float: left;
    font-family: "myriad Pro";
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    width: 100%;
}
.foot-links li{
	color: #999999;
    float: left;
    font-family: "myriad Pro";
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    width: 100%;
}
.foot-links li a{
	text-decoration:none;
	color:#999999;
}
.linksholder-new{
	width:240px;
	margin-left:20px;
	padding-right:20px;
}
.footer-bar-links{
	background:url(../assets/footer-bar-links.png) no-repeat;
	width:240px;
	height:77px;
	margin-bottom:10px;
}
.footer-bar-links img{
	float: left;
    margin-left: 11px;
    margin-top: 24px;
    width: 60px;
}
.footer-bar-links h2, .footer-bar-links h1{
	border: medium none;
    color: #555555;
    float: right;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 13px;
    padding: 0;
    width: 154px;
}
.footer-bar-links h2{
	color:#777777!important;
	margin-top:0!important;
}
.footlogo{
	float:left;
	width:100%;
	margin-top:40px;
}
.footlogo img{
	float:left;
}
.linksholder1{
    margin-top: 4px;
    padding: 13px 0;
    width: 190px;
	margin-left:20px;
	min-height:347px;
}
.linksholder1 h1{
	border-bottom: 1px solid #616767;
    color: #999999;
    float: left;
    font-family: "myriad Pro";
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    width: 100%;
}
.linksholder1 img{
	margin-top:5px;
	float:left;
	margin-right:20px;
}
.copyright{
	width:100%;
	font-size:13px;
	color:#999999;
	margin-top:200px;
}
.featured-heading{
	font-size:28px;
	font-family:"myriad Pro";
	color:#555555;
}
.gellary-main-img img{
	float:left;
}
.icon-btn{
	margin-top:-164px;
}
.icon-btn img{
	float: left;
    margin-left: -22px;
}
.icon-btn-next{
	float: right !important;
    margin-left: 0 !important;
    margin-right: -22px!important;
}
.gellary-bg{
	background:url(../assets/gellary-bg.png) no-repeat;
	width:243px;
	height:238px;
	margin-right:5px;
}
.gellary-img{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    height: 158px;
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
    width: 218px;
}
.gellary-img img{
	float:none;
	height:158px;
}
.gellary-left-holder{
	background: url("../assets/border-bg.png") repeat-y scroll right top transparent;
    color: #EEEEEE;
    font-family: "myriad Pro";
    font-size: 14px;
    margin-top: 7px;
    min-height: 34px;
    padding: 5px 10px 12px 14px;
    width: 103px;
}
.price-div{
	color: #EEEEEE;
    font-family: "myriad Pro";
    font-size: 30px;
    margin-left: 6px;
    margin-top: 22px;}
.doller{
	font-size:16px;
}
.mrNone{
	margin-right:0!important;
}
.more-produts{
	text-align:center;
}
.pbotton20{
	padding-bottom:20px;
}
.body{
	background:none scroll 0 0 #fff;
}
.gray-top-bar{
	background:none scroll 0 0 #f2f3f4;
	border-bottom:1px solid #d1d1d1;
	min-height:100px;
}
.white-logo{
	width:30%;
}
.white-logo img{
	float:left;
}
.white-links{
	list-style:none;
	margin-top:45px;
}
.white-links li{
	float:left;
	width:auto;
	margin-right:20px;
	font-size:14px;
}
.white-links li a{
	color:#000;
	text-decoration:none;
}
.search-holder{
	margin-top: 36px;
	width:auto;
}
.search-holder input[type="text"]{
	background: url("../assets/search-white.png") no-repeat scroll 0 0 transparent;
    color: #777777;
    float: left;
    height: 26px;
    padding: 3px;
    width: 204px;
}
.search-holder input[type="submit"]{
	background: url("../assets/search-white-btn.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 32px;
    width: 27px;
}
.white-left{
	width:250px;
	border-right:2px solid #f3f3f3;
	padding-right:20px;
}
.white-right{
	width:670px;
}
.rebort img{
	float:left;
	margin-right:10px;
}
.rebort h2, .rebort h1{
	color: #000000;
    float: right;
    font-size: 16px;
    width: 150px;
}
.rebort h2{
	color:#a2a2a2!important;
}
.blue-heading{
	 background: none repeat scroll 0 0 #3EACC8;
    border: 1px solid #A0A0A0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    padding-left: 10px;
    width: 98% !important;
}
.pro-left{
	width:65px;
	margin-right:10px;
}
.pro-left img{
	float:left;
}
.pro-right{
	width:170px;
}
.pro-right img{
	float:right;
}
.pro-right h1{
	 color: #3EACC8;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
}
.pro-right p{
	float:left;
	font-size:14px;
	font-weight:bold;
}
.pro-right p a{
	text-decoration:none;
	color:#8d8d8d;
}
.pro-right label{
	background: url("../assets/tag.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 5px;
    padding-left: 44px;
	color:#8d8d8d;
}
.showmore{
    font-size: 16px;
    font-weight: bold;
	color: #8d8d8d;
}
.showmore a{
	color: #8d8d8d;
	text-decoration:none;
}
.showmore a:hover{
	text-decoration:underline;
}
.store{
	list-style:none;
}
.store li{
	background: url("../assets/green-icon.png") no-repeat scroll left center transparent;
    color: #8D8D8D;
    font-size: 16px;
    font-weight: bold;
    line-height: 31px;
    padding-left: 28px;
}
.store li a{
	color: #8d8d8d;
	text-decoration:none;
}
.gray-bdr{
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	padding:5px 0;
}
.gray-bdr img{
	float:left;
	margin-left:12px;
	margin-right:20px;
}
.white-right h1{
	float:left;
	width:100%;
	font-size:30px;
	color:#3eacc8;
	font-weight:normal;
}
.white-right textarea{
	border:1px solid #d3d3d3;
	float:left;
	width:100%;
	margin-top:10px;
	min-height:100px;
}

.feature-left-holder{
	float:left;
	width:319px;
}
.feature-right-holder{
	float:right;
	width:615px;
}
.feature-products-hold{
	float:left;
	width:314px;
}
.feature-products-top{
	float:left;
	width:314px;
	text-align:center;
	background:url(../assets/feature-products-top.png) no-repeat;
	height:71px;
	line-height:70px;
	font-family:"Gotham";
	font-size:14px;
	color:#ccc;
}
.feature-products-mid{
	float:left;
	width:314px;
	background:url(../assets/feature-products-mid.png) repeat-y;
	height:auto;
}
.feature-products-bot{
	float:left;
	width:314px;
	background:url(../assets/feature-products-bot.png) no-repeat;
	height:14px;
}
.feature-mid-cont-bg{
	background: url("../assets/feature-mid-cont-bg.png") repeat-x scroll left bottom transparent;
    float: left;
    margin-left: 7px;
    min-height: 400px;
    width: 300px;
}
.feature-links{
	float:left;
	width:100%;
	list-style:none;
}
.feature-links li{
	border-bottom: 1px solid #DCDCDC;
    float: left;
    padding: 10px 5px 10px 10px;
    width: 95%;
}
.feature-p-icon{
	float:left;
	width:46px;
}
.feature-p-icon img{
	float:left;
}
.feature-text{
	float:right;
	width:228px;
}
.feature-text h1{
	float:left;
	width:100%;
	font-family:"Myriad Pro";
	font-size:18px;
	color:#757575;
	margin-top:5px;
	line-height:25px;
}
.feature-text p{
	float:left;
	width:100%;
	font-size:14px;
	color:#777;
}
.mtop15{
	margin-top:12px!important;
}
.feature-act-bg{
	background: url("../assets/feature-act-bg.png") no-repeat scroll 0 0 transparent;
    border: 0 none !important;
    color: #FFFFFF !important;
    height: 58px;
    margin-bottom: 0 !important;
    margin-left: 5px !important;
    margin-right: 0 !important;
    margin-top: 5px;
    padding-bottom: 0 !important;
    padding-left: 5px;
    padding-right: 18px !important;
    padding-top: 5px !important;
    width: 287px !important;

}
.feature-act-bg h1, .feature-act-bg p{
	color:#fff!important;
}
.adds-bg{
	background: url("../assets/adds-bg.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 150px;
    margin-top: -134px;
    width: 193px;
}
.adds-bg img{
	float:left;
    margin-left: 18px;
    margin-top: 18px;
}
.products-heading{
	border-bottom: 1px solid #7EBAE2;
    color: #555555;
    float: left;
    font-family: "Gotham";
    font-size: 24px;
    margin-top: -15px;
    padding-bottom: 10px;
    width: 100%;
}
.products-text{
	float: left;
    font-size: 18px;
    width: 85%;
	color:#949494;
	line-height:32px;
	margin-top:25px;
}
.feature-add-holder{
	float:left;
	width:100%;
	margin-top:30px;
	padding-bottom:30px;
	border-bottom:1px dotted #aaaaaa;
}
.feature-add-left-hold{
	background: url("../assets/feature-g-fram.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 230px;
    width: 300px;
}
.feature-add-left-hold img{
	float: left;
    height: 208px;
    margin-left: 11px;
    margin-top: 11px;
    width: 277px;
}
.feature-add-right-hold{
	float:right;
	width:290px;
}
.feature-add-right-hold h1{
	float:left;
	width:100%;
	font-family:"Gotham";
	font-size:14px;
	color:#555;
	margin-top:30px;
}
.feature-add-right-hold p{
	float:left;
	width:100%;
	font-size:16px;
	color:#949494;
	line-height:30px;
	margin-top:10px;
}
.flt{
	float:left !important;
}
.frt{
	float:right !important;
}