// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.w100{
	float:left;
	width:100%;
}

.contentLeftHolder{
	width:220px;
}

.flt{
	float:left !important;
}
.frt{
	float:right !important;
}
.contentRightHolder{
	width:736px;
}
.mtop40{
	margin-top:40px !important;
}
.mainHeading{
	border-bottom:3px solid #250101;
	font-size:20px;
	font-weight:bold;
	color:#1f826d;
	padding-bottom:5px;
}
.w100{
	float:left;
	width:100%;
}

.leftLink{
	list-style:none;
}
.leftLink li{
	background: url("../assets/link_arrow.png") no-repeat scroll left center transparent;
    border-bottom: 1px dashed #000000;
    color: #5E5D5D;
    float: left;
    font-size: 14px;
    line-height: 26px;
    padding-left: 8%;
    width: 92%;
}
.leftLink li a{
	color:#5e5d5d;
	text-decoration:none;
}

.galleryHolder{
	width:174px;
	margin-left:5px;
	margin-right:5px;
	text-align:center;
}
.galleryHolder h1{
	float:left;
	width:100%;
	font-size:12px;
	margin-top:10px;
	text-align:left;
}
.galleryHolder h2{
	float:left;
	width:100%;
	font-size:16px;
	font-weight:bold;
	color:#1f826d;
	text-align:left;
}
.mtop30{
	margin-top:30px !important;
}
.detailsLeftHolder{
	width:268px;
}
.largImgHolder{
	border:1px solid #dedede;
	background:none scroll 0 0 #fbfbfb;
	text-align:center;
}
.largImgHolder{
	border:1px solid #dedede;
	background:none scroll 0 0 #fbfbfb;
	text-align:center;
}
.mtop10{
	margin-top:10px !important;
}
.smallImgHolder{
	border:1px solid #dedede;
	background:none scroll 0 0 #fbfbfb;
	text-align:center;
	padding:0 5px;
}

.mright{
	margin-right:7px;
}
.detailsRightHolder{
	width:450px;
}
.inStockHeading{
	font-size:20px;
	font-weight:bold;
	color:#250101;
}
.price{
	font-size:20px;
	color:#1f826d;
	font-weight:bold;
}
.selectHolder{
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 20px 0;
}
.selectHolder{
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 20px 0;
}
.select{
	float:left;
	width:100%;
}
.select label{
	float:left;
	width:150px;
	color:#494949;
	line-height:20px;
}
.select select{
	border: 1px solid #CCCCCC;
    float: left;
    padding: 1px;
    width: auto;
}

.gray{
	color:#666;
}
.darkgray{
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    line-height: 30px;
    padding-left: 1%;
    width: 96%;
}
.flt{
    float:left !important;
}
.mtop20{
    margin-top:20px !important;
}
.list1stHeading{
    width: 100px;
}
.list2ndHeading{
    width: 150px;
}
.list3rdHeading{
    width: 100px;
}
.list4thHeading{
    width: 100px;
}
.list5thHeading{
    width: 100px;
}
.list6thHeading{
    width: 100px;
}
.list7thHeading{
    width: 50px;
}
.lightgray{
    padding-left: 0.8%;
    width: 96%;
    border: 1px solid #444;
    border-top: none !important;
}
.wite{
    background: #f1f1f1;
}
list2ndHeading{
    width: 150px;
}
.list3rdHeading{
    width: 100px;
}
.list4thHeading{
    width: 100px;
}
.list5thHeading{
    width: 100px;
}
.list6thHeading{
    width: 100px;
}
.list7thHeading{
    width: 50px;
}
.lineHeight30{
    line-height: 30px;
}
.flt{
    float:left !important;
}
.flt{
    float:left !important;
}
.inputFieldsHolder{
    float:left;
    width:50%;
}
.inputFieldsHolder label{
    float: left;
    line-height: 27px;
    width: 100%;
}
.inputFieldsHolder input{
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 5px #666 inset;
    -moz-box-shadow:0 0 5px #666 inset;
    box-shadow:0 0 5px #666 inset;
    height:25px;
    line-height:25px;
    width:275px;
    text-indent:5px;
}
.inputFieldsHolder select{
    border: 1px solid #CCCCCC;
    float: left;
    height: 27px;
    padding: 2px;
    width: 277px;
}
.bannerHeading{
    text-align:center;
}
.bannerHeading img{
    float:none;
}
.bannerHeadingSmall{
    font-size:28px;
    font-weight:bold;
    color:#3db2c2;
    text-align:center;
}

#product_add_form label.error {
    border: medium none !important;
    color: red;
    display: inline;
    float: left;
    margin-left: 93px;
    width: 100%;
}
.list2DescriptionndHeading{
    width: 550px;
}
.list2nDescriptiondHeading{
    width: 550px;
}
#product_deatils_add_form label.error {
    border: medium none !important;
    color: red;
    display: inline;
    float: left;
    margin-left: 93px;
    width: 100%;
}
#product_deatial_edit_form label.error {
    border: medium none !important;
    color: red;
    display: inline;
    float: left;
    margin-left: 93px;
    width: 100%;
}