
<div class="w100 mtop40">
  <div class="contentLeftHolder flt">
    <div class="mainHeading w100">Shop All Men</div>
    <ul class="leftLink w100">
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Activewear</a></li>
      <li><a href="#">Coats & Jackets</a></li>
      <li><a href="#">Formalwear</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Activewear</a></li>
      <li><a href="#">Coats & Jackets</a></li>
      <li><a href="#">Formalwear</a></li>
    </ul>
  </div>
  <div class="contentRightHolder frt">
    <div class="mainHeading w100">Shop Now</div>
    <%unless @products.blank?%>
    <%@products.each do |products|%>
    <div class="galleryHolder mtop30 flt">
      <img src="../assets/main_img.png" alt="" />
      <h1>Lapel Ticket Pocket Suit</h1>
      <h2>$268.00</h2>
    </div>
    <%end%>
    <%end%>
  </div>
</div>