<%#*<div class="bodyholder">%>
<%#*<div class="container">%>
<%#*<h3>%>
<%#*Welcome%>
<%#*</h3>%>

<%#= link_to("Manage your Store", '/admin/stores') %>
<%#*<br/>%>
<%#= link_to("Manage Products", '/admin/products') %>
<%#*<br/>%>
<%#= link_to("Manage Store Admins", '#') %>

<%#*</div>%>
<%#*</div>%>
